<div class="container-fluid">
    <div class="row">
		<div class="sign-form">
			<div>
        <%= form_for @user do |f| %>
          <div class="form_group">
            <%= f.label :name %> <br>
            <%= f.text_field :name %>
          </div>

          <div class="form_group">
            <%= f.label :email %> <br>
            <%= f.text_field :email %>
          </div>
          <div class="form_group">
            <%= f.label :password%> <br>
            <%= f.text_field :password%>
          </div>
          <div >
            <%= f.submit "Sign Up", :class => "btn btn-danger btn-cog btn-block" %>
          </div>
          <br>
          <br>
          <br>
          <div class="text-center sign-link">
            <a href="/auth/signin">Already a user? Sign In!</a>
          </div>
        <% end %>
			</div>
		</div>
	</div>
</div>
